@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline-tick {
}

.timeline-tick:before {
  content: "";
  position: absolute;
  left: 50%;
  border-right: 2px #ccc solid;
  height: 50%;
  z-index: 0;
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.milestone-svg-line {
  transition: all 0.5s ease-out;
}

/* timeline grow effect */
#timeline-main {
  animation: transitionFromLeft 2s ease-out;
}

#timeline-bg {
  animation: fadeIn 2s ease-in;
}

@keyframes transitionFromLeft {
  from {
    transform: translateX(-50%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}